* {
    font-family: 'Merriweather', serif;
}

body {
    margin:0;
    background-color: #f0f0f0;
}

.img-header {
    height: 50px;
    margin-right: 10px;
}

.imgfiltro {
    height: 50px;
    width: 50px;
    padding: 10px;
    object-fit: contain;
}

#div-filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/img-filtros.jpeg');
    background-size: cover;
    background-position: center;
    color:white;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;

}

header {
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#titulo-principal {
    color: white;
    margin:0
}

.titulo {
    font-size: 100px;
    padding-top: 5vh;
}

.subtitulo {
    font-size: 60px;
    font-weight: 100;
}

#divfiltros {
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 1200px;
    padding: 50px;
    margin-top:5vh;
    border-radius: 30px;
}

#divfiltros * {
    font-size: 25px;
}

.btn {
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
}

.btn-warning {
    border-radius: 30px !important;
}

.btn-primary {
    border-radius: 5px !important;
}

.btn-danger {
    background-color: #E81456;
}

.alert {
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-dismissible {
    padding-right: 4rem;
}

.btn-close {
    position: absolute;
    right: 0;
    padding: 1.25rem 1rem;
}

#divfiltros form {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#divfiltros form input, #divfiltros form select {
    border: none;
    padding: 10px;
    background-color: transparent;
}

#divfiltros form input {
    width: 80%;
}

#divfiltros form select {
    min-width: 200px;
}

.alert-info {
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
}

.card-img-top {
   height: 400px;
   object-fit: cover;
}

.crud *{
    font-size: 20px;
}

.color {
    color: #E81456;
}

.size {
    font-size: 20px;
}