* {
    font-family: 'Merriweather', serif;
}

body {
    margin:0;
    background-color: #f0f0f0;
}

.img-header {
    height: 50px;
    margin-right: 10px;
}

#div-filtros {
    display: flex;
    align-items: center;
    height: 500px;
    background-image: url('../images/lupa.png');
    background-size: cover;
    background-position: center;
}

header {
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#titulo-principal {
    color: white;
}
